@font-face {
  font-family: PressStart;
  src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  height: 100vh;
  font-family: PressStart;
  background-image: url(/img/pokedex.png);
  background-repeat: no-repeat;
  background-position-y: 180px;
  background-position-x: 120px;
  background-size: 1200px;
}

nav {
  height: 120px;
  margin: 30px 70px;
}

main {
  position: relative;
  width: 100%;
  height: 650px;
  margin: auto;
}
#map {
  position: absolute;
  height: 218px;
  width: 323px;
  top: 199px;
  left: 281px;
  border-radius: 15px;
  border: 2px solid #5b5c5c;
}

.gm-style-mtc {
  display: none;
}

.places-list {
  position: absolute;
  left: 767px;
  top: 215px;
  width: 298px;
  height: 331px;
  border: 4px solid #3b3819;
  border-radius: 11px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  height: 325px;
}

tr:first-child {
  height: 55px;
  margin-left: 20px;
}
tr {
  border: 2px solid #3b3819;
  height: 50px;
}
td {
  border: 2px solid #3b3819;
}

.nav-btns {
  background-color: #f23838;
  width: 169px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  position: absolute;
  top: 721px;
  left: 321px;
}

.place-btns {
  position: relative;
  flex-direction: row;
  height: 58px;
  width: 400px;
  left: 716px;
  top: -78px;
}
.place-btns button {
  background-color: #fa9a07;
  width: 145px;
  height: 60px;
}

button {
  font-family: PressStart;
  background-color: transparent;
  background-color: #fbfa06;
  border: 2px solid #522f0c;
  width: 170px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  margin-top: 15px;
  height: 100px;
  width: 100%;
}
.border {
  border: 1px solid black;
}
.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.text-bubble {
  border: 5px solid #b5dae5;
  background-color: #fff;
  border-radius: 50px;
}

.my-location {
  position: absolute;
  top: 668px;
  left: 269px;
}

button.my-location {
  background-color: #317afa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.my-location img {
  width: 40px;
  height: 40px;
  position: relative;
  left: -4px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin-top: 200px;
}

.save {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
  width: 150px;
}

.save:hover,
.save:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
