@font-face {
  font-family: PressStart;
  src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: PressStart;
  height: 100vh;
  background-color: #e0e0e0;
}

header {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section {
  display: flex;
}

label {
  margin: 15px 0;
}
input {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 20px;
  font-family: PressStart;
}

.age-num {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer {
  margin: auto;
  margin-top: 20px;
  height: 110px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

button {
  padding: 1em 1.5em;
  font-family: PressStart;
  background-color: #71b8f0;
  border: 3px solid #5892bd;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: PressStart;
  color: #000;
}

.text-bubble {
  border: 5px solid #b5dae5;
  background-color: #fff;
  border-radius: 50px;
}

#color {
  width: 100px;
  height: 50px;
  padding: 2px;
}

#age {
  padding: 0;
  -webkit-appearance: none;
  width: 300px;
  height: 25px;
  background: #e0e0e0;
  outline: none;
}

#age::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #71b8f0;
  cursor: pointer;
}
